

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap');
.vt323-regular {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
#Video{
    position:fixed;
    right:0;
    bottom:0;
    min-width: 100%;
    min-height: 100%;
}
.content {
    margin-top:20px;
    position: fixed;
    bottom: 10;
	font-family: 'MinecraftiaRegular';  
    color: #f1f1f1;
    width: 50%;
    padding: 20px;
  }
#avt{
    width:200px;
    height:200px;
}
.box1{
    padding-right:10px;
    outline: 2px solid #353535;
    display:flex;
    border-color: #AAA #565656 #565656 #AAA;
  	text-shadow: 3px 3px #4C4C4C;
    background-color:rgb(142, 142, 142,0.5);
}
.text1{
    text-align: left;
    position:relative;
    margin-top:30px;
}
.box2{
    padding:3%;
    margin-top:20px;
    outline: 2px solid #353535;
    display:flex;
    border-color: #AAA #565656 #565656 #AAA;
  	text-shadow: 3px 3px #4C4C4C;
    background-color:rgb(142, 142, 142,0.5);
}
.text2{
    text-align: left;
 position:relative;
 margin-left:10px;
}
#parrot{
    width: 100px;
    height:100px;
}
.sit{
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:800px;
    margin-top:-400px;
}
.name{
    padding:0.3%;
    background-color: rgba(192, 192, 192, 0.5);
    position: fixed;
    margin-top:-400px;
    margin-left:200px;
}
#sits{
    width: 500px;   
    height: 500px;
}